<section class="table-header">
    <section class="pagination">
        <a *ngIf="pagination.activeIndex > 0"
            (click)="clickPagination(pagination.activeIndex - 1); pagination.activeIndex = pagination.activeIndex - 1">
            <</a> <a
                *ngFor="let pag of [].constructor(pagination.elements); let i = index"
                (click)="clickPagination(i); pagination.activeIndex = i"
                [ngClass]="{active: pagination.activeIndex === i}"> {{i + 1}}
        </a>
        <a *ngIf="pagination.activeIndex < pagination.elements - 1"
            (click)="clickPagination(pagination.activeIndex + 1); pagination.activeIndex = pagination.activeIndex + 1">></a>
    </section>
</section>
