$color: #0f9b7c;

.table-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    font-family: 'rickandmorty-font';
}

.show-on-page {
    select {
        display: inline-block;
        height: 30px;
        color: $color;
        line-height: 30px;
        font-size: 16px;
        border: 1px solid $color;
        text-align: center;
        margin: 0 8px;
        cursor: pointer;
        transition: all .6s;
    }
}

.pagination {
    padding: 10px;
    padding-left: 0;
    text-align: center;
    justify-self: start;

    a {
        user-select: none;
        display: inline-block;
        width: 20px;
        height: 20px;
        color: $color;
        line-height: 20px;
        font-size: 10px;
        border: 1px solid $color;
        text-align: center;
        margin: 0 8px;
        cursor: pointer;
        transition: all .6s;

        &:first-child {
            margin-left: 0;
        }

        &:hover,
        &.active {
            color: #fff;
            background-color: $color;
        }
    }
}
