$mainColor: #0DA8C8;

header {
    display: grid;
    border-bottom: 1px solid $mainColor;
    grid-template-columns: 1fr 90px 1fr;
    height: 90px;
    z-index: 10;
}

.rickandmorty-search {
    padding: 15px;
    position: relative;
    z-index: 11;

    input {
        width: 100%;
        margin-top: 10px;
        padding: 6px;
        border: 1px solid $mainColor;
        border-radius: 6px;
        background: none;

        &.error {
            background-color: rgba(#f16b6b, .6);
        }
    }

    label {
        text-transform: uppercase;
        color: $mainColor;
        font-size: 11px;
    }

    ul {
        padding: 0;
        margin: 0;
        width: calc(100% - 30px);
        position: absolute;
        z-index: 12;

        li {
            list-style-type: none;
            padding: 4px 10px;
            background-color: $mainColor;
            color: #efefef;
            border-bottom: 1px dotted #efefef;
            cursor: pointer;

            &:hover {
                background-color: rgba($mainColor, .9);
            }

            &:last-child {
                border-bottom-color: $mainColor;
            }
        }

        border: 1px solid $mainColor;
        border-top: none;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    &.result {
        input {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: 1px dotted #efefef;
        }
    }
}

.nav {
    perspective: 1000px;

    &.subpage .flip {
        transform: rotateY(180deg);
    }

    .flip,
    .logo,
    .list {
        width: 90px;
        height: 90px;
    }

    .flip {
        transition: 0.4s;
        transform-style: preserve-3d;
        position: relative;
    }

    .logo,
    .list {
       	backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    .logo {
        z-index: 2;
        transform: rotateY(0deg);
    }

    .list {
        transform: rotateY(180deg);
    }
}

.logo {
    background-color: $mainColor;
    background-image: url('/assets/images/ram.png');
    background-size: cover;
}

.list {
    background-color: $mainColor;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 0;
    height: 90px;
    cursor: pointer;

    h2 {
        font-size: 9px;
    }

    span {
        display: inline-block;
        height: 4px;
        background-color: #fff;
        width: 100%;
        margin: 4px 0;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            background-color: $mainColor;
            position: absolute;
            top: 0;
            left: 4px;
            transition: all .4s;
        }
    }

    &:hover {
        span::after {
            left: 80%;
        }

        span:nth-child(2)::after {
            transition-delay: 0s;
        }

        span:nth-child(3)::after {
            transition-delay: .4s;
        }

        span:nth-child(4)::after {
            transition-delay: .8s;
        }

        span:nth-child(5)::after {
            transition-delay: 1.2s;
        }
    }
}

.title {
    justify-self: center;
    align-self: center;

    h1 {
        font-size: 30px;
        color: $mainColor;
        font-family: 'rickandmorty-font';
        line-height: 40px;
        text-align: center;
    }
}
