<header>
    <section class="rickandmorty-search"
        [ngClass]="{result: liveSearch.length > 0}">
        <label for="search">
            Search your Rick and Morty character <span *ngIf='search.length<2'> (min. 2 chars) </span>
        </label>
        <input type="text"
            name="search"
            [(ngModel)]="search"
            (ngModelChange)="searchAction($event)"
            placeholder="Enter your Rick and Morty character name">
        <ul *ngIf="liveSearch.length > 0">
            <li *ngFor="let p of liveSearch"
                [routerLink]="['character/', p.id]"
                (click)="liveSearch = []; search = ''">
                {{p.name}}
            </li>
        </ul>
    </section>
    <section class="nav" [ngClass]="{subpage: subpage}">
        <div class="flip">
            <div class="logo">

            </div>
            <div class="list" 
                (click)="subpage=false"
                [routerLink]="['/']">
                <h2>Back to list</h2>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </section>
    <div class="title">
        <h1>Rick and Morty<br>character base</h1>
    </div>
</header>

<router-outlet></router-outlet>
