<section class="rickandmorty-list">
    <h1>List of characters</h1>
    <pagination [pagination]="pagination" (getPage)="getPage($event)"></pagination>

    <section class="table">
        <section class="sort">
            <select name="sort" id="sort" [(ngModel)]="sort" (ngModelChange)="sortTable()">
                <option value="">Select sort type</option>
                <option value="genderASC">Gender ASC</option>
                <option value="genderDESC">Gender DESC</option>
            </select>

            <button class="clear" (click)="clearFilters()">
                Clear filter
            </button>
        </section>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Species</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of charactersList | slice: pagination.start : pagination.stop; let i = index" [routerLink]="['character', p.id]">
                    <td>{{p.name}} (id: {{p.id}})</td>
                    <td>{{p.gender}}</td>
                    <td>{{p.species}}</td>
                </tr>
            </tbody>
        </table>
    </section>

    <pagination [pagination]="pagination"></pagination>

</section>
