$mainColor: #0DA8C8;
$secondColor: #0f9b7c;

h1 {
    color: $mainColor;
    font-family: 'rickandmorty-font';
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
}

.sort {
    padding: 10px;
    text-align: center;
    select {
        display: inline-block;
        height: 30px;
        color: $mainColor;
        line-height: 30px;
        font-size: 16px;
        border: 1px solid $mainColor;
        text-align: center;
        margin: 0 8px;
        cursor: pointer;
        transition: all .6s;
    }
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    border-left: 1px solid $mainColor;

    th,td {
        padding: 10px;
    }

    tr:hover {
        td {
            background-color: $secondColor;
            color: #fff;
            cursor: pointer;
        }
    }

    td {
        border-right: 1px solid $mainColor;
        border-bottom: 1px solid $mainColor;
    }
    
    thead {
        th {
            background-color: $mainColor;
            color: #fff;
            font-size: 10px;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-right: 1px solid #fff;

            &:last-child {
                border-right: none;
            }
        }
    }
}

.rickandmorty-list {
    padding: 15px;
}

.pagination {
    padding: 10px;
    text-align: center;
    a {
        user-select: none;
        display: inline-block;
        width: 30px;
        height: 30px;
        color: $mainColor;
        line-height: 30px;
        font-size: 16px;
        border: 1px solid $mainColor;
        text-align: center;
        margin: 0 8px;
        cursor: pointer;
        transition: all .6s;

        &:hover,
        &.active {
            color: #fff;
            background-color: $mainColor;
        }
    }
}