<section class="rickandmorty" *ngIf="!preloader && current">
    <h1><strong>Nama:</strong> {{current.name}}</h1>
    <p>
        <img src="{{current.image}}" alt="">
        <strong>Gender:</strong> {{current.gender}}<br>
        <strong>Species:</strong> {{current.species}}<br>
    </p>
</section>

<a href="#" (click)="_rickandmortyService.subpage.next(false)" [routerLink]="['/']"><< Back to list</a> 
