$mainColor: #0DA8C8;
$secondColor: #0f9b7c;

.rickandmorty {
    padding: 15px;

    strong {
        color: $secondColor;
    }

    h1 {
        color: $mainColor;
        font-family: 'rickandmorty-font';
        text-align: center;
        font-size: 35px;
        position: relative;
        padding-bottom: 30px;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    img {
        float: left;
        margin-right: 20px;
    }
}

