@import './scss/reset';

@font-face {
    font-family: 'rickandmorty-font';
    src: url('./assets/fonts/rickandmorty.ttf') format('truetype')
}

base {
    font-size: 16px;
    font-smooth: never;
    -webkit-font-smoothing: none;
    font-family: 'rickandmorty-font', monospace;
}

